/**
 *
 * Tab - Scroll (SCSS)
 *
 * @author Takuto Yanagida
 * @version 2021-11-11
 *
 */


@use 'sass:math';


@mixin style-scroll {
	--bar-margin-top      : 4rem;
	--bar-inactive-opacity: 0.5;
	--tab-min-width       : 2rem;
	--tab-max-width       : 30vw;

	[data-nc-tab-bar] {
		&:where(:not(:first-child)) { margin-top: var(--bar-margin-top); }

		display  : flex;
		flex-wrap: wrap;

		clear  : both;
		padding: 0;

		opacity   : var(--bar-inactive-opacity);
		transition: opacity 0.2s;

		&[data-nc-active],
		&:hover { opacity: 1; }

		li {
			display: flex;
			max-width: 100%;

			a {
				display  : inline-block;
				min-width: var(--tab-min-width);

				max-width    : var(--tab-max-width);
				text-overflow: ellipsis;
				white-space  : nowrap;
				overflow     : hidden;
			}
		}
	}
}


// -----------------------------------------------------------------------------


@mixin style-scroll-decoration-bar {
	--bar-background        : #eee;
	--bar-border-bottom     : 1px solid #ddd;
	--tab-gap               : 0.25rem 1rem;
	--tab-padding           : 0.25rem 0.5rem;
	--tab-background-hover  : #ddd;
	--tab-background-current: #ccc;

	[data-nc-tab-bar] {
		gap          : var(--tab-gap);
		background   : var(--bar-background);
		border-bottom: var(--bar-border-bottom);

		li {
			a { padding: var(--tab-padding); }
			&:not([data-nc-current]) > a:hover {
				background: var(--tab-background-hover);
			}
			&[data-nc-current] > a {
				background: var(--tab-background-current);
			}
		}
	}
}

@mixin style-scroll-decoration-tab {
	--bar-background        : #eee;
	--bar-border-bottom     : 1px solid #ddd;
	--tab-border-top        : 1px solid #ddd;
	--tab-border-inline     : 1px solid #ddd;
	--tab-border-bottom     : 1px dashed #ddd;
	--tab-gap               : 0.25rem 1rem;
	--tab-padding           : 0.25rem 0.5rem;
	--tab-background-hover  : #ddd;
	--tab-background-current: #fff;

	[data-nc-tab-bar] {
		gap          : var(--tab-gap);
		background   : var(--bar-background);
		border-bottom: var(--bar-border-bottom);

		li {
			a { padding: var(--tab-padding); }

			&:not([data-nc-current]) > a:hover,
			&[data-nc-current] > a {
				position: relative;
				bottom: -1px;
			}

			&:not([data-nc-current]) > a:hover {
				background: var(--tab-background-hover);
			}
			&[data-nc-current] > a {
				background: var(--tab-background-current);

				border-top   : var(--tab-border-top);
				border-inline: var(--tab-border-inline);
				border-bottom: var(--tab-border-bottom);
			}
		}
	}
}


// -----------------------------------------------------------------------------


@mixin style-scroll-print {
	--bar-print-scale: 0.75;

	[data-nc-tab-bar] {
		transform-origin: center left;
		transform       : scale(var(--bar-print-scale));
		width           : calc(1 / var(--bar-print-scale) * 100%);

		break-after: avoid-page;
	}
}
