/**
 *
 * Stack
 *
 * @author Takuto Yanagida
 * @version 2021-11-17
 *
 */


$phone-max-width: 599.5px;


@mixin custom-property {
	// main
	--nc-stack-tab-min-width: 2rem;
	--nc-stack-tab-max-width: 30vw;
	--nc-stack-tab-gap      : 0.25rem 1rem;

	// print
	--nc-stack-bar-print-scale: 0.75;
}

@mixin main {
	position      : relative;
	z-index       : 0;
	display       : flex;
	flex-direction: column;

	> * {
		box-sizing: border-box;
		margin    : 0;
	}

	> div {
		position      : absolute;
		bottom        : 1000vh;
		pointer-events: none;

		opacity: 0;
		> * { opacity: 0; }
	}
	> div[data-nc-current] {
		position      : static;
		flex-grow     : 1;
		pointer-events: auto;

		opacity: 1;
		> * { opacity: 1; }
	}

	[data-nc-tab-bar] {
		display  : flex;
		flex-wrap: wrap;
		gap      : var(--nc-stack-tab-gap);

		clear  : both;
		padding: 0;
		z-index: 1;

		li {
			display: flex;
			max-width: 100%;

			&[data-nc-current] {
				pointer-events: none;
			}

			a {
				display  : inline-block;
				min-width: var(--nc-stack-tab-min-width);

				max-width    : var(--nc-stack-tab-max-width);
				text-overflow: ellipsis;
				white-space  : nowrap;
				overflow     : hidden;
			}
		}
	}

	@media screen and (max-width: $phone-max-width) {  // for Phone
		[data-nc-tab-bar] {
			flex-direction: column;
			li {
				&[data-nc-current] { pointer-events: auto; }
				a {
					width    : 100%;
					max-width: 100%;
				}
			}
		}
		[data-nc-tab-bar]:first-child {
			li[data-nc-current] ~ li { display: none; }
		}
		[data-nc-tab-bar]:last-child {
			li { display: none; }
			li[data-nc-current] ~ li { display: flex; }
		}
	}
}

@mixin print {
	[data-nc-tab-bar] {
		transform: scale(var(--nc-stack-bar-print-scale));
		width    : calc(1 / var(--nc-stack-bar-print-scale) * 100%);
	}
	[data-nc-tab-bar]:first-child {
		transform-origin: bottom left;
	}
	[data-nc-tab-bar]:last-child {
		transform-origin: top left;
	}
}


// -----------------------------------------------------------------------------


@mixin custom-property-appearance-bar {
	--nc-stack-bar-background        : #eee;
	--nc-stack-tab-padding           : 0.25rem 0.5rem;
	--nc-stack-tab-background-hover  : #ddd;
	--nc-stack-tab-background-current: #ccc;
	--nc-stack-page-border           : 1px solid #ddd;
	--nc-stack-page-background       : #fefefe;
	--nc-stack-page-padding          : 2rem;
}

@mixin appearance-bar {
	[data-nc-tab-bar] {
		background: var(--nc-stack-bar-background);

		&:first-child { margin-bottom: 0; }
		&:last-child { margin-top: 0; }

		li {
			a { padding: var(--nc-stack-tab-padding); }
			&:not([data-nc-current]) > a:hover {
				background: var(--nc-stack-tab-background-hover);
			}
			&[data-nc-current] > a {
				background: var(--nc-stack-tab-background-current);
			}
		}
	}
	> div {
		border    : var(--nc-stack-page-border);
		background: var(--nc-stack-page-background);
		padding   : var(--nc-stack-page-padding);
	}
}


// -----------------------------------------------------------------------------


@mixin custom-property-appearance-tab {
	--nc-stack-bar-background        : #eee;
	--nc-stack-tab-border-top        : 1px solid #ddd;
	--nc-stack-tab-border-inline     : 1px solid #ddd;
	--nc-stack-tab-border-bottom     : 1px dashed #ddd;
	--nc-stack-tab-padding           : 0.25rem 0.5rem;
	--nc-stack-tab-background-hover  : #ddd;
	--nc-stack-tab-background-current: #fff;
	--nc-stack-page-border           : 1px solid #ddd;
	--nc-stack-page-background       : #fefefe;
	--nc-stack-page-padding          : 2rem;
}

@mixin appearance-tab {
	[data-nc-tab-bar] {
		background: var(--nc-stack-bar-background);

		&:first-child { margin-bottom: 0; }
		&:last-child { margin-top: 0; }

		li {
			a { padding: var(--nc-stack-tab-padding); }

			&:not([data-nc-current]) > a:hover,
			&[data-nc-current] > a {
				position: relative;
			}

			&:not([data-nc-current]) > a:hover {
				background: var(--nc-stack-tab-background-hover);
			}
			&[data-nc-current] > a {
				background: var(--nc-stack-tab-background-current);

				border-inline: var(--nc-stack-tab-border-inline);
			}
		}
	}
	[data-nc-tab-bar]:first-child {
		li {
			&:not([data-nc-current]) > a:hover,
			&[data-nc-current] > a {
				bottom: -1px;
			}
			&[data-nc-current] > a {
				border-top   : var(--nc-stack-tab-border-top);
				border-bottom: var(--nc-stack-tab-border-bottom);
			}
		}
	}
	[data-nc-tab-bar]:last-child {
		li {
			&:not([data-nc-current]) > a:hover,
			&[data-nc-current] > a {
				top: -1px;
			}
			&[data-nc-current] > a {
				border-bottom: var(--nc-stack-tab-border-top);
				border-top   : var(--nc-stack-tab-border-bottom);
			}
		}
	}
	> div {
		border    : var(--nc-stack-page-border);
		background: var(--nc-stack-page-background);
		padding   : var(--nc-stack-page-padding);
	}
}
