/**
 *
 * Tab - Stack (SCSS)
 *
 * @author Takuto Yanagida
 * @version 2021-10-23
 *
 */


$phone-max-width: 599.5px;


@mixin style-stack {
	--tab-gap      : 0.25rem 1rem;
	--tab-min-width: 2rem;
	--tab-max-width: 30vw;

	position      : relative;
	z-index       : 0;
	display       : flex;
	flex-direction: column;

	> * {
		margin: 0;
		box-sizing: border-box;
	}

	> div {
		position      : absolute;
		bottom        : 1000vh;
		pointer-events: none;
		opacity       : 0;
		> * { opacity: 0; }
	}
	> div[data-nc-current] {
		position      : static;
		flex-grow     : 1;
		pointer-events: auto;
		opacity       : 1;
		> * { opacity: 1; }
	}

	[data-nc-tab-bar] {
		display  : flex;
		flex-wrap: wrap;
		gap      : var(--tab-gap);

		clear  : both;
		padding: 0;
		z-index: 1;

		li {
			display: flex;
			max-width: 100%;

			&[data-nc-current] {
				pointer-events: none;
			}

			a {
				display  : inline-block;
				min-width: var(--tab-min-width);

				max-width    : var(--tab-max-width);
				text-overflow: ellipsis;
				white-space  : nowrap;
				overflow     : hidden;
			}
		}
	}

	@media screen and (max-width: $phone-max-width) {  // for Phone
		[data-nc-tab-bar] {
			flex-direction: column;
			li {
				&[data-nc-current] { pointer-events: auto; }
				a {
					width    : 100%;
					max-width: 100%;
				}
			}
		}
		[data-nc-tab-bar]:first-child {
			li[data-nc-current] ~ li { display: none; }
		}
		[data-nc-tab-bar]:last-child {
			li { display: none; }
			li[data-nc-current] ~ li { display: flex; }
		}
	}
}

@mixin style-stack-decoration {
	--bar-background        : #eee;
	--tab-background-hover  : #ddd;
	--tab-background-current: #ccc;
	--tab-padding           : 0.25rem 0.5rem;
	--page-border           : 1px solid #ddd;
	--page-background       : #fefefe;
	--page-padding          : 2rem;

	[data-nc-tab-bar] {
		background: var(--bar-background);

		&:first-child { margin-bottom: 0; }
		&:last-child { margin-top: 0; }

		li {
			a { padding: var(--tab-padding); }
			&:not([data-nc-current]) > a:hover {
				background: var(--tab-background-hover);
			}
			&[data-nc-current] > a {
				background: var(--tab-background-current);
			}
		}
	}
	> div {
		border    : var(--page-border);
		background: var(--page-background);
		padding   : var(--page-padding);

		> *:first-child { margin-top: 0; }
		> *:last-child { margin-bottom: 0; }
	}
}
